<template>
	<ais-instant-search :search-client="searchClient" index-name="tasks">
		<div class="search-panel__filters">
			<h2>Projects</h2>
			<ais-refinement-list attribute="projects" />
			<h2>Author</h2>
			<ais-refinement-list attribute="author" />
			<h2>Assigned to</h2>
			<ais-refinement-list attribute="owner" />
			<h2>Status</h2>
			<ais-refinement-list attribute="status" />
		</div>

		<div class="search-panel__results">
			<app-debounced-search-box :delay="10" class="ais-SearchBox-input" />
			<ais-hits>
				<template #item="{ item }">
					<div>
						<div class="hit-name">
							<router-link :to="{ name: 'Tasks', params: { taskId: item.id } }">
								{{ item.id }}: <ais-highlight :hit="item" attribute="name" />
							</router-link>
						</div>
						<div class="hit-description">
							<ais-snippet :hit="item" attribute="description" />
						</div>
					</div>
				</template>
			</ais-hits>

			<ais-configure
				:attributes-to-snippet="[ 'description:50' ]"
				snippet-ellipsis-text="…"
			/>
		</div>

		<ais-pagination />
	</ais-instant-search>
</template>

<script>
import { defineComponent } from 'vue';
import { instantMeiliSearch } from '@meilisearch/instant-meilisearch';
import AppDebouncedSearchBox from '../DebouncedSearchBox.vue';

export default defineComponent( {
	name: 'HomeView',
	components: {
		AppDebouncedSearchBox
	},
	data() {
		return {
			searchClient: instantMeiliSearch(
				'https://meilisearch.kostaharlan.net',
				'93121c6eee137e30a805eee7bd6e60f3422748ff696fd75324eac0580b7ee6a6',
				{
					paginationTotalHits: 10,
					finitePagination: true,
					attributesToRetrieve: [ 'name', 'id' ],
					attributesToSnippet: [ '*' ],
					cropLength: 10
				}
			)
		};
	}
} );
</script>

<style>
.ais-Hits-item {
	margin-bottom: 1em;
	width: 100%;
}

.ais-Hits-item img {
	margin-right: 1em;
	width: 100%;
	height: 100%;
	margin-bottom: 0.5em;
}

.ais-Highlight-highlighted {
	background: cyan;
	font-style: normal;
}

.disclaimer {
	margin-left: 1em;
}

.hit-name {
	margin-bottom: 0.5em;
}

.hit-description {
	margin-bottom: 0.5em;
	color: grey;
}

.ais-InstantSearch {
	max-width: 960px;
	overflow: hidden;
	margin: 0;
}

.search-panel__filters {
	float: left;
	width: 300px;
}

.search-panel__results {
	margin-left: 310px;
}

.ais-SearchBox {
	margin-bottom: 2rem;
}

.ais-Pagination {
	margin: 2rem auto;
	text-align: center;
}

.ais-SearchBox-form {
	margin-bottom: 20px;
}
</style>
