<template>
	<div class="task-view">
		<h1>{{ $route.params.taskId }}: {{ name }}</h1>

		<!-- eslint-disable-next-line vue/no-v-html -->
		<div class="description" v-html="description" />

		<task-comment
			v-for="comment in comments"
			:key="comment.dateCreated"
			:author="comment.author"
			:html="comment.html"
			:date-created="comment.dateCreated"
		/>
	</div>
</template>

<script>
import { defineComponent } from 'vue';
import getPost from '../api';
import TaskComment from '@/components/TaskComment';

export default defineComponent( {
	name: 'TaskView',
	components: {
		TaskComment: TaskComment
	},
	data() {
		return {
			description: '',
			comments: '',
			name: '',
			error: ''
		};
	},

	beforeRouteEnter( to, from, next ) {
		getPost( to.params.taskId ).then( ( response ) => {
			next( ( vm ) => {
				vm.description = response.descriptionHtml || response.description || 'No description';
				vm.comments = response.comments || [];
				vm.name = response.name;
			} );
		} );
	},
	// eslint-disable-next-line no-unused-vars
	async beforeRouteUpdate( to, from ) {
		try {
			const post = await getPost( to.params.taskId );
			this.description = post.descriptionHtml || post.description || 'No description';
			this.comments = post.comments || [];
			this.name = post.name;
		} catch ( error ) {
			this.error = error.toString();
		}
	}
} );
</script>
