<template>
	<hr>
	<div class="comment">
		<div class="author">
			{{ author }}
		</div>

		<div class="dateCreated">
			{{ dateCreated }}
		</div>

		<!-- eslint-disable-next-line vue/no-v-html -->
		<div class="content" v-html="html" />
	</div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent( {
	name: 'TaskComment',
	props: [
		'author',
		'dateCreated',
		'html'
	]
} );
</script>
