<template>
	<header class="header">
		<router-link to="/">
			<h1 class="header-title">
				Pharchivist
			</h1>
		</router-link>
	</header>

	<div class="container">
		<router-view />
	</div>
</template>

<script>
</script>

<style>
body,
h1 {
	margin: 0;
	padding: 0;
}

body {
	font: 13px 'Segoe UI','Segoe UI Emoji','Segoe UI Symbol','Lato','Helvetica Neue',Helvetica,Arial,sans-serif;
	direction: ltr;
	text-align: left;
	color: #000;
	-webkit-text-size-adjust: none;
}

.header {
	display: flex;
	align-items: center;
	min-height: 50px;
	padding: 0.5rem 1rem;
	background-color: #440f79;
	color: #fff;
	margin-bottom: 1rem;
}

.header-title {
	font-size: 1.2rem;
	font-weight: normal;
	color: #ffffff;
}

.container {
	padding: 1rem;
}

</style>
